@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$primary-color: #2196f3;
$black: #212121;
$white: #ffffff;
$gray: #757575;

// Fonts
$font-roboto: 'Roboto', sans-serif;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-roboto;
}

.container {
	max-width: 1600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 3%;
	text-align: center;
	color: $black;
}

// Header Start
.header {
	background-color: $white;
	padding: 24px 100px;

	.header__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo img {
		display: flex;
		width: 145px;
		height: 31px;
		cursor: pointer;
	}

	.header__links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
		list-style: none;

		& li a {
			text-decoration: none;
			font-weight: 500;
			font-size: 14px;
			letter-spacing: 2%;
			color: $black;
			padding-bottom: 24px;

			&:hover {
				color: $primary-color;
				border-bottom: 4px solid $primary-color;
				border-radius: 2px;
			}
		}
	}

	.header__contact {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		list-style: none;

		& li {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}

		& li a {
			text-decoration: none;
			font-weight: 500;
			font-size: 14px;
			letter-spacing: 2%;
			color: $gray;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.menu {
		display: none;
	}
}
// Header End

// Hero Start
.hero {
	background-image: url('../images/hero.png');
	background-position: center;
	background-size: cover;

	.hero__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 600px;

		.hero__title {
			font-weight: 900;
			font-size: 44px;
			line-height: 60px;
			letter-spacing: 6%;
			text-align: center;
			color: $white;
			margin-bottom: 30px;
		}

		.hero__btn {
			width: 200px;
			height: 50px;
			border: 2px solid $primary-color;
			border-radius: 4px;
			background-color: $primary-color;
			color: $white;
			font-weight: 700;
			font-size: 16px;
			line-height: 30px;
			letter-spacing: 6%;
			cursor: pointer;
			transition: 0.5s ease;

			&:hover {
				background: none;
				color: $primary-color;
			}
		}
	}
}
// Hero End

// Portfolio
.portfolio {
	padding: 94px 100px;

	// Portfolio Cards
	.portfolio__cart {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 30px;
		flex-wrap: wrap;
		margin-bottom: 94px;

		.portfolio__card {
			width: 260px;
			height: 250px;

			.portfolio__card__img {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 120px;
				background-color: #f5f4fa;
				margin-bottom: 30px;
			}

			.portfolio__card__text {
				.portfolio__card__text__title {
					font-weight: 700;
					font-size: 14px;
					letter-spacing: 3%;
					margin-bottom: 10px;
				}

				.portfolio__card__text__descr {
					font-weight: 400;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 3%;
					color: $gray;
				}
			}
		}
	}

	// Portfolio Works
	.portfolio__work {
		& .section-title {
			margin-bottom: 50px;
		}

		.portfolio__work__cart {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			gap: 30px;

			.portfolio__work__card {
				&:nth-child(2) {
					background-image: url('../images/img-2.png');
				}

				&:nth-child(3) {
					background-image: url('../images/img-3.png');
				}

				position: relative;
				width: 360px;
				height: 294px;
				background-image: url('../images/img-1.png');
				background-size: cover;
				background-position: center;

				.portfolio__work__card__text {
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 70px;
					background-color: #2f303acc;
					display: flex;
					justify-content: center;
					align-items: center;

					& p {
						font-weight: 700;
						font-size: 14px;
						letter-spacing: 3%;
						color: $white;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
// Portfolio End

// Team
.team {
	padding: 94px 100px;
	background-color: #f5f4fa;

	& .section-title {
		margin-bottom: 50px;
	}

	.team__cart {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;

		.team__card {
			width: 260px;
			height: 428px;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 30px;
			background-color: $white;

			.team__card__img img {
				width: 100%;
				height: 250px;
				object-fit: contain;
			}

			.team__card__detail {
				padding: 0 32px;
				text-align: center;

				.team__card__detail__name {
					font-weight: 500;
					font-size: 16px;
					letter-spacing: 3%;
					margin-bottom: 10px;
				}

				.team__card__detail__job {
					font-weight: 400;
					font-size: 16px;
					letter-spacing: 3%;
					color: $gray;
					margin-bottom: 16px;
				}

				.team__card__detail__social {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					list-style: none;

					& li {
						width: 44px;
						height: 44px;
						border-radius: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: 0.5s ease;

						&:hover {
							background-color: $primary-color;
						}
					}
				}
			}
		}
	}
}
// Team End

// Client
.client {
	padding: 94px 100px;
	background-color: $white;

	& .section-title {
		margin-bottom: 50px;
	}

	.client__cart {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;

		.client__card {
			width: 160px;
			height: 92px;
			border: 1px solid #afb1b8;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&:hover {
				border: 1px solid $primary-color;
			}
		}
	}
}
// Client End

// Footer
.footer {
	padding: 60px 100px;
	background: #2f303a;

	.footer__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.footer__contact {
			.footer__logo {
				width: 145px;
				height: 31px;
				cursor: pointer;
				margin-bottom: 20px;
			}

			.footer__contact__location {
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 3%;
				color: $white;
				margin-bottom: 8px;
			}

			.footer__contact__email,
			.footer__contact__number {
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 3%;
				color: $gray;
				margin-bottom: 8px;
			}
		}

		.footer__social {
			.footer__social__title {
				font-weight: 700;
				font-size: 14px;
				letter-spacing: 3%;
				text-transform: uppercase;
				color: $white;
				margin-bottom: 20px;
			}

			.footer__social__medias {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				flex-wrap: wrap;
				list-style: none;

				& li {
					width: 44px;
					height: 44px;
					background-color: #44454e;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 100%;
					cursor: pointer;
					transition: 0.5s ease;

					&:hover {
						background-color: $primary-color;
					}

					& a img {
						display: flex;
					}
				}
			}
		}

		.footer__email {
			.footer__email__title {
				font-weight: 700;
				font-size: 14px;
				letter-spacing: 3%;
				text-transform: uppercase;
				color: $white;
				margin-bottom: 20px;
			}

			.email__form {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 12px;

				.email__input {
					padding: 15px;
					width: 358px;
					height: 50px;
					border: 1px solid $gray;
					background: none;
					color: $gray;
					outline: none;
					font-weight: 400;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 3%;
				}

				.email__btn {
					width: 200px;
					height: 50px;
					background-color: $primary-color;
					border: none;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					color: $white;
					font-weight: 700;
					font-size: 16px;
					line-height: 30px;
					letter-spacing: 6%;
					cursor: pointer;
				}
			}
		}
	}
}
// Footer End

// Responsive for Tablets
@media (max-width: 768px) {
	.header {
		padding: 26px 15px;

		.header__contact {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 10px;
		}
	}

	.portfolio__work {
		display: none;
	}

	.footer__contact {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.footer__social {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.footer__email {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 60px;

		.email__form {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 20px;
		}
	}
}

// Responsive for Mobile
@media (max-width: 600px) {
	.section-title {
		font-weight: 700;
		letter-spacing: 3%;
		font-size: 28px;
	}

	.header {
		.header__links {
			display: none;
		}

		.header__contact {
			display: none;
		}

		.menu {
			display: block;
		}
	}

	.hero__title {
		font-weight: 900;
		font-size: 26px;
		line-height: 42px;
		letter-spacing: 6%;
		margin-bottom: 30px;
	}

	.portfolio {
		padding: 60px 15px;
	}

	.team {
		padding: 60px 15px;

		.team__cart {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 30px;
		}
	}

	.footer {
		text-align: center;
	}

	.footer__contact {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer__social {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		text-align: center;
	}

	.email__form {
		text-align: center;
	}

	.footer .footer__container .footer__email .email__form .email__input {
		width: auto;
	}
}
