@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
}

.header {
  background-color: #ffffff;
  padding: 24px 100px;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo img {
  display: flex;
  width: 145px;
  height: 31px;
  cursor: pointer;
}
.header .header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.header .header__links li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  color: #212121;
  padding-bottom: 24px;
}
.header .header__links li a:hover {
  color: #2196f3;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}
.header .header__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.header .header__contact li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .header__contact li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  color: #757575;
}
.header .header__contact li a:hover {
  color: #2196f3;
}
.header .menu {
  display: none;
}

.hero {
  background-image: url("../images/hero.png");
  background-position: center;
  background-size: cover;
}
.hero .hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.hero .hero__container .hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero .hero__container .hero__btn {
  width: 200px;
  height: 50px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  cursor: pointer;
  transition: 0.5s ease;
}
.hero .hero__container .hero__btn:hover {
  background: none;
  color: #2196f3;
}

.portfolio {
  padding: 94px 100px;
}
.portfolio .portfolio__cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.portfolio .portfolio__cart .portfolio__card {
  width: 260px;
  height: 250px;
}
.portfolio .portfolio__cart .portfolio__card .portfolio__card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.portfolio .portfolio__cart .portfolio__card .portfolio__card__text .portfolio__card__text__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  margin-bottom: 10px;
}
.portfolio .portfolio__cart .portfolio__card .portfolio__card__text .portfolio__card__text__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
}
.portfolio .portfolio__work .section-title {
  margin-bottom: 50px;
}
.portfolio .portfolio__work .portfolio__work__cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio .portfolio__work .portfolio__work__cart .portfolio__work__card {
  position: relative;
  width: 360px;
  height: 294px;
  background-image: url("../images/img-1.png");
  background-size: cover;
  background-position: center;
}
.portfolio .portfolio__work .portfolio__work__cart .portfolio__work__card:nth-child(2) {
  background-image: url("../images/img-2.png");
}
.portfolio .portfolio__work .portfolio__work__cart .portfolio__work__card:nth-child(3) {
  background-image: url("../images/img-3.png");
}
.portfolio .portfolio__work .portfolio__work__cart .portfolio__work__card .portfolio__work__card__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio__work .portfolio__work__cart .portfolio__work__card .portfolio__work__card__text p {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  color: #ffffff;
  text-transform: uppercase;
}

.team {
  padding: 94px 100px;
  background-color: #f5f4fa;
}
.team .section-title {
  margin-bottom: 50px;
}
.team .team__cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.team .team__cart .team__card {
  width: 260px;
  height: 428px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #ffffff;
}
.team .team__cart .team__card .team__card__img img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.team .team__cart .team__card .team__card__detail {
  padding: 0 32px;
  text-align: center;
}
.team .team__cart .team__card .team__card__detail .team__card__detail__name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3%;
  margin-bottom: 10px;
}
.team .team__cart .team__card .team__card__detail .team__card__detail__job {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3%;
  color: #757575;
  margin-bottom: 16px;
}
.team .team__cart .team__card .team__card__detail .team__card__detail__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.team .team__cart .team__card .team__card__detail .team__card__detail__social li {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.team .team__cart .team__card .team__card__detail .team__card__detail__social li:hover {
  background-color: #2196f3;
}

.client {
  padding: 94px 100px;
  background-color: #ffffff;
}
.client .section-title {
  margin-bottom: 50px;
}
.client .client__cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.client .client__cart .client__card {
  width: 160px;
  height: 92px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.client .client__cart .client__card:hover {
  border: 1px solid #2196f3;
}

.footer {
  padding: 60px 100px;
  background: #2f303a;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer__container .footer__contact .footer__logo {
  width: 145px;
  height: 31px;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer .footer__container .footer__contact .footer__contact__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #ffffff;
  margin-bottom: 8px;
}
.footer .footer__container .footer__contact .footer__contact__email,
.footer .footer__container .footer__contact .footer__contact__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
  margin-bottom: 8px;
}
.footer .footer__container .footer__social .footer__social__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer .footer__container .footer__social .footer__social__medias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}
.footer .footer__container .footer__social .footer__social__medias li {
  width: 44px;
  height: 44px;
  background-color: #44454e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.footer .footer__container .footer__social .footer__social__medias li:hover {
  background-color: #2196f3;
}
.footer .footer__container .footer__social .footer__social__medias li a img {
  display: flex;
}
.footer .footer__container .footer__email .footer__email__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer .footer__container .footer__email .email__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer .footer__container .footer__email .email__form .email__input {
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid #757575;
  background: none;
  color: #757575;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
}
.footer .footer__container .footer__email .email__form .email__btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 26px 15px;
  }
  .header .header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .portfolio__work {
    display: none;
  }
  .footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__social {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
  .footer__email .email__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .section-title {
    font-weight: 700;
    letter-spacing: 3%;
    font-size: 28px;
  }
  .header .header__links {
    display: none;
  }
  .header .header__contact {
    display: none;
  }
  .header .menu {
    display: block;
  }
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 6%;
    margin-bottom: 30px;
  }
  .portfolio {
    padding: 60px 15px;
  }
  .team {
    padding: 60px 15px;
  }
  .team .team__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .footer {
    text-align: center;
  }
  .footer__contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer__social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }
  .email__form {
    text-align: center;
  }
  .footer .footer__container .footer__email .email__form .email__input {
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */
